body {
  background-color: #000;
  color: #999999;
}
h1 {
  font-size: 60px;
  color: #FFF;
  font-family: 'Julius Sans One', sans-serif;
}
h2 {
  font-family: 'Merriweather Sans', sans-serif;
}
#header {
  overflow:hidden;
}
#header h1,
#header h2 {
  float:left;
  margin: 0 5px 0 0;
}
ul {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}
#tracks {
  float:left;
  border: solid 2px #85b931;
  border-radius: 5px;
  background-color: #48494D;
}
#tracks > li {
  float: left;
  margin: 5px;
  width: 90px;
  border-radius: 10px;
  border: 1px solid #666;
  padding-bottom:12px;
}
#tracks > li h3 {
  background-color: #3E3D42;
  color: #DDD;
  padding: 3px;
  font-family: Helvetica;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.loops li {
  text-align: center;
}
.loops li h4 {
  margin: 3px;
  color: #CCC;
  font-size: 11px;
  font-family: Arial;
}
.loops li button {
  width: 50px;
  height: 50px;
  background-color: #F9B57C;
  border-radius: 5px;
}
.loops li button.stop {
  background-color: #E7E5A3;
}
.loops li button img{
  height: 25px;
  width: 25px;
}

#overlay-controls {
  position: absolute;
  bottom: 0;
}
