<audio data-role="first" src="{{ loopUrl }}">
  <p>Your browser does not support the audio element.</p>
</audio>
<audio data-role="buffer" src="{{ loopUrl }}">
  <p>Your browser does not support the audio element.</p>
</audio>
<div class='controls'></div>
<h4>{{ name }}</h4>
