<h3>{{ name }}</h3>
<div class='volume-strip'>
  <input class='volume' type='range' min='0' max='100'/>
  <img src='img/sound_low.png'/>
  <img class='right' src='img/sound_high.png'/>
</div>
<ul class='loops'>
  {{#each loops}}
    {{#if attributes.space}}
      <li></li>
    {{else}}
      {{addSubViewTo ../../thisView "LoopView" model=this }}
    {{/if}}
  {{/each}}
</ul>
